body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 30px;
}

.photos img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.photos img:hover {
    transform: scale(1.05);
}

.photo-img {
    height: 250px;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.album {
    text-decoration: none;
    color: black;
    text-align: center;
}

.album img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
}

.album img:hover {
    transform: scale(1.05);
}
.album-img {
    height: 220px;
    object-fit: cover;
}